body {
    padding-top: 50px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 600px;
}

/*Formularios*/
.post-wrapper-top h2 {
    font-size: 24px;
    color: #067c8c;
    display: inline-block;
}

legend {
    text-align: center;
    padding-bottom: 20px;
}

form label {
    color: #78aa16;
}
label {
    font-weight: 300;
}

form {
    margin: 20px;
}

textarea {
    width: 100%;
    resize: none;
}

.detallesPropiedad{
    font-size:16px;
}

#listaPro{
    margin-left:20px;
}